@charset "UTF-8";
/* CSS Document */
/* Style the close button */
.close {
  float: right;
  padding: 6px 8px 6px 8px;
background-color: #f44336;
	color: white;
}

.close:hover {
  background-color: #B21509 ;
  
}


* {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.header {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
}
#tilbage {
	float: left;

}

#logud {
	float: right;
	
}

.header h1 {
	display: block;
	text-align: center;
	color: white;
	margin-top: 50px;
	margin-bottom: 70px;
}

#login-error-msg {
	display:none;
	color:red;
	text-align: center;
}


#main-holder {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#password-field, #username-field {
	display: block;
	width:50%;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	margin-bottom:30px;
	border-radius: 25px;
	padding-left: 10px;
	border:none;
}
#main-holder h1 {
	text-align: center;
}

#login-form-submit {
	margin-right: auto;
	margin-left: auto;
}
.knapper {
	display: block;
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 20px;
  transition: all ease-in-out 0.3s;
 border-color: #fff;
  background: #666;
  color: #fff;
	width:100px;

}

a {
	text-decoration: none;
}

.knapper:hover {
  border-color: #333;
  background: #fff;
  color: #333;
}



body {
  background-color: #9999A0;
	
}




.allrakke {
  background-color: lightgray;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  margin-top:30px;
  margin-bottom: 30px;
  box-shadow: 0 0 5px 3px black;
	
}
.alle {
  height: 150px;
  color: black;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 0px;
}
.controlAll {
  margin-top: 0px;
  height: 250px;
  color: black;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

#tandsluk {
	margin-bottom: 20px;
}

.rakke {
  background-color: black;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  margin-bottom: 30px;
  box-shadow: 0 0 1px 1px #606060;
	
}
.oprindelig {
  height: 150px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 0px;
}
.overskrift {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.knap {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.nydiv {
  margin-top: 0px;
  height: 250px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

.laerer-fejl {
  background-color: lightgray;;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  margin-top:30px;
  margin-bottom: 30px;
  box-shadow: 0 0 5px 3px black;
  height: 150px;
  color:black;
	position: relative;
	
	 
  
}

.laerer-fejl-art {
	position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}





/*--fejl sider---------------------------------------------------------------------------------------------------------------------------*/

.laerer-form{
  height:250px;
  position:relative;
  margin-bottom: 50px;
  
}

#laerer-fejl-holder {
	display: block;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
#laerer-fejl-holder h2{
text-align: center;
}

#emne-field, #besked-field {
	display: block;
	width:50%;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	margin-bottom:30px;
	border-radius: 25px;
	padding-left: 10px;
	border:none;
}

#fejl-form-submit {
	margin-right: auto;
	margin-left: auto;
	
}


#fejl-form-submit {
	margin-right: auto;
	margin-left: auto;
	
}

.fejl-liste {
	width:50%;
  margin-right:auto;
  margin-left:auto;
width:40%;
	margin-bottom:30px;
}
.fejl-liste h2 {
	
	text-align:center;
}

.fejl-liste li {
	padding: 10px;
}


/*--range slider styling---------------------------------------------------------------------------------------------------------------------------*/



.labelslide {
  margin-top: 0;
  margin-left: 10%;
  padding: 10px;
  float: left;
}
.labelvalue {
  float: right;
  margin-right: 10%;
}

.Tempslider {
  -webkit-appearance: none;
  width: 90%;
  height: 15px;
  border-radius: 5px;
  background: rgba(103, 98, 224, 1);
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.Tempslider:hover {
  opacity: 1;
}
.Tempslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
;
}



.Ventslider {
  -webkit-appearance: none;
  width: 90%;
  height: 15px;
  border-radius: 5px;
  background: rgba(103, 98, 224, 1);
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.Ventslider:hover {
  opacity: 1;
}
.Ventslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
;
}




.slider1 {
  -webkit-appearance: none;
  width: 90%;
  height: 15px;
  border-radius: 5px;
  background: rgba(103, 98, 224, 1);
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.slider1:hover {
  opacity: 1;
}
.slider1::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
;
}


#demo {
  float: right;
}
/*slider knap---------------------------------------------------------------------------------------------------------------------------------------*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}




/*--------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  
	.header, .rakke, .allrakke, .laerer-fejl {
		width:80%;
	}
	
	#password-field, #username-field, #emne-field, #besked-field  {
		width:80%;
	}
}


